# Object files
obj/
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Executables & build configurations
zfrog
zfrog_cli
features

# Qt Creator project files
zfrog.config
zfrog.creator*
zfrog.files
zfrog.includes
#zfrog.creator.user

# External dependency
deps/

# Examples (binary and certificates)
examples/**/*so
examples/**/*.pem
examples/**/*.p12
examples/**/*.pyc
examples/**/*.log
